<%= form_with(model: [:superadmin, company], local: true) do |form| %>
  <% if company.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h4>
      <ul>
        <% company.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <%= form.submit class: 'btn btn-primary' %>
<% end %> 